<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b582662-4034-4e3d-bc87-52aa7d2123f9" Alias="test.xlsx" Level="2">
  <Info>
    <Parent Key="d9099203-6daa-428e-8a7b-55c399c8c5e0">Samples</Parent>
    <Path>/Samples/testxlsx</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-03-25T18:33:11</CreateDate>
    <NodeName Default="test.xlsx" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sfhkhkyt/test.xlsx]]></Value>
    </umbracoFile>
  </Properties>
</Media>