<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9099203-6daa-428e-8a7b-55c399c8c5e0" Alias="Samples" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Samples</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2026-03-25T18:32:04</CreateDate>
    <NodeName Default="Samples" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>