<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d8ecfce-1558-4d1d-b29f-506e3ec31819" Alias="test.pptx" Level="2">
  <Info>
    <Parent Key="d9099203-6daa-428e-8a7b-55c399c8c5e0">Samples</Parent>
    <Path>/Samples/testpptx</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2026-03-25T18:33:11</CreateDate>
    <NodeName Default="test.pptx" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hwthlll5/test.pptx]]></Value>
    </umbracoFile>
  </Properties>
</Media>