<?xml version="1.0" encoding="utf-8"?>
<Content Key="673f1ccb-2eed-43ed-bcc6-f7d03e106d93" Alias="Open XML Search" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/OpenXMLSearch</Path>
    <Trashed>false</Trashed>
    <ContentType>openXmlSearch</ContentType>
    <CreateDate>2026-03-25T18:54:19</CreateDate>
    <NodeName Default="Open XML Search" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="a1d3e8f0-5b7c-4e92-9f1a-6c8d2e0b3a4f">openXmlSearch</Template>
  </Info>
  <Properties>
    <hideFromTopNavigation>
      <Value><![CDATA[0]]></Value>
    </hideFromTopNavigation>
    <hideFromXMLSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXMLSitemap>
    <isFollowable>
      <Value><![CDATA[1]]></Value>
    </isFollowable>
    <isIndexable>
      <Value><![CDATA[1]]></Value>
    </isIndexable>
    <mainImage>
      <Value><![CDATA[]]></Value>
    </mainImage>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <metaName>
      <Value><![CDATA[]]></Value>
    </metaName>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Open XML Search]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>